/* Menu fijo top  */
header {
    background-color: #000000;
    padding: 10px;
    height: 60px;
    /*fixed: el siguiente elemento quedaria oculto */
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 1.4rem;
    /* Per algun motiu ho oculta sola el banner*/
    z-index: 1;
}

nav {
    padding-left: 20px;
}

.header-list {
    list-style-type: none;
}

.header-list>li {
    float: right;
    margin: 0px 20px;
}

.header-list a {
    text-decoration: none;
    color: white;
}

.header-list a:hover {
    text-decoration: underline;
}

/* Menu imagen con texto */
#banner {
    position: relative;
}

#banner>img {
    width: 100%;

}

#text-banner-image {
    font-size: 1.6rem;
    position: absolute;
    left: 30px;
    top: 10%;
    color: white;
}

/* Elementos despues de banner encuadrados*/
#container {
    margin: 0 auto;
    max-width: 750px;
}

h1 {
    background-color: #12203E;
    color: white;
    padding: 10px;
    text-align: center;
}

.card>img{
    width: 200px;
}
/*
.card-img-left {
    width: 200px;
    float: left;
}

.card-img-right {
    width: 200px;
    float: left;
}
.card-right {
    clear: left;

}*/


.carta-grid {
    margin-top: 20px;
    display: grid;
    /* Defineix el tamanys de colum i rows */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* Conecta el (grid-area) dels seus fills*/
    /* literalment els ordena tal com o escrius */
    grid-template-areas: "menu1 text1 text1"
        "menu1 image1 image2";

}

.menu-grid {
    /* Es conectara amb  el (grid-template-areas) pare*/
    grid-area: menu1;
    border: 3px solid #BFCFD9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-height: 300px;
    line-height: 300px;
    text-align: center;

}

/* Imatges dins del grid carta*/
.img-grid>img {
    width: 95%;
}

/* Titol 'menu 1, menu 2' del grid carta*/
.menu-grid>h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.text-grid {
    /* Es conectara amb  el (grid-template-areas) pare*/
    grid-area: text1;
    text-align: justify;
}

.image-grid-1 {
    /* Es conectara amb  el (grid-template-areas) pare*/
    grid-area: image1;
}

.image-grid-2 {
    /* Es conectara amb  el (grid-template-areas) pare*/
    grid-area: image2;
}

.flex-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-image {
    margin: 10px;
    /* img galeria imatges */
    max-width: 150px;
}

/* Aplica oscuritat a les imatges de galeria segons fill*/
.flex-image:first-child {
    filter: brightness(50%);
}

.flex-image:nth-child(4) {
    filter: brightness(50%);
}

.flex-image:nth-child(5) {
    filter: brightness(50%);
}

.flex-image:last-child {
    filter: brightness(50%);
}


footer {
    background-color: #000000;
    padding: 20px;
    /* Tots el seus fills tenen lletra blanca*/
    color: white;
}

.icon-footer {
    width: 20px;
}

.phone-footer {
    width: 200px;
    float: left;
}

.contact-footer {
    width: 200px;
    float: left;
}

.info-footer {
    float: right;
}