@media (max-width: 768px) {
    /* El contigut ha de ser menor */
    #container{
        max-width: 680px;
    }
    /* Header en blanc */
    header {
        background-color: white;
    }
    /* lletra en negre */
    .header-list a {
        color: black;
    }

    /* treu espai i cap a la detra */
    .header-list>li {
        float: left;
    }

    nav {
        padding-left: 0px;
    }

    .card-left>img,
    .card-right>img {
        float: none;
        max-width: 100%;
        margin-left: 0px;
    }

    /* Cambia l'ordre elements carta */
    .carta-grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "menu1 text1 "
                             "menu1 image1"
                            "menu1 image2";
    }
    .flex-image {
        max-width: 250px;

    }
}

@media (max-width: 576px) {
    /* El contigut ha de ser menor */
    #container {
        max-width: 500px;
    }
    /* Centrem els titols*/
    h1 {
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 100px;
    }

    /* El subtitol 'carta' no existeix*/
    h2 {
        display: none;
    }

    /* La carta es reordena en verical*/
    .carta-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "menu1" "text1" "image1" "image2";
    }
    /* la separacio no existex, posa a 0*/
    .menu-grid{
        line-height: 0px;
        padding: 0px;
    }

    /* Tamany de la galeria adient a tota la pagina verticalment*/
    .flex-image {
        max-width: 400px;
    }

    /* El footer es reordena en verical*/
   /* .contact-footer,.phone-footer,.info-footer { 
     float: none;
     margin: 0 auto;
    margin-bottom: 10px;
    max-width: 200px;
    }*/
}